.icons/
.config/aw.esome/
.config/awesome.e/
.config/default/
.config/gtk-2.0/
.config/gtk-3.0/
.config/nvim/
.colors/
.config/GIMP/
.config/Kingsoft/
.config/Microsoft/
.config/QtProject.conf
.config/Trolltech.conf
.config/Typora/
.config/autostart/
.config/broot/
.config/calligrarc
.config/calligrawordsrc
.config/coc/
.config/dconf/
.config/discord/
.config/emacs/
.config/emaildefaults
.config/flameshot/
.config/google-chrome/
.config/gtk-4.0/
.config/htop/
.config/kitty/kitty-themes/
.config/lf/
.config/mimeapps.list
.config/notion-app/
.config/pfetch.conf
.config/polybar/config
.config/polybar/launch
.config/pulse/
.config/smplayer/*
.config/teams/
.config/transmission-daemon/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
.config/zsh/.zcompdump-sboob-5.8
