!Gloabl Setting {{{
! special
*.foreground:   #c6cdd0
*.background:   #0d0e0f
*.cursorColor:  #c6cdd0

! black
*.color0:       #161818
*.color8:       #eaaf8d

! red
*.color1:       #1f2121
*.color9:       #aa8be7

! green
*.color2:       #303233
*.color10:      #e69ac1

! yellow
*.color3:       #47494b
*.color11:      #5092a4

! blue
*.color4:       #636769
*.color12:      #e16fae

! magenta
*.color5:       #868b8d
*.color13:      #c7b5f0

! cyan
*.color6:       #aeb5b7
*.color14:      #b7a4e2

! white
*.color7:       #dfe3e4
*.color15:      #6cb096

!}}}
Xft.dpi:        96


! vim: set foldmethod=marker:
