/* colors */

* {
        al:   #00000000;
        bg:   #0a1218FF;
        fg:   #ffffffFF;
        ac:   #9FC0DEFF;
        se:   #B8C9DB40;
        bg1:  #ABCDEFFF;
        bg2:  #ABCDEFFF;
        bg3:  #ABCDEFFF;
  }
